.ourTeam_container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .text {
    border-left: 3px solid white;
    // border: 1px solid white;
    flex: 2;
    padding: 1rem;
    padding-left: 2rem;
    // padding: 50px 50px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    h2 {
      font-size: 3rem;
      background: linear-gradient(to bottom, var(--NexusGold), #fff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      font-size: 2rem;
    }

    p {
      width: 90%;
      font-size: var(--normal_fs);
      line-height: 1.5rem;
      text-align: justify;
    }

    button {
      // margin: 30px 0 10px 0;
      width: 250px;
      border: 5px solid var(--NexusGold);
      color: var(--NexusGold);
      font-size: 1.1rem;
      padding: 1rem;
      border-radius: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .icon {
        background-color: "transparent";
        font-size: 1.2rem;
        color: var(--NexusGold) !important;
        // border-color: var(--NexusGold);
        border: 0;
      }
    }
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .ourTeam_container {
    .text {
      padding: 50px;
    }
  }
}

@media (max-width: 850px) {
  .ourTeam_container {
    padding: 2rem;
    .text {
      width: 60%;
      padding: 2rem;
      p {
        width: 100%;
      }
    }
    .image {
      width: 40%;
      // justify-content: start;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .ourTeam_container {
    flex-direction: column;
    border-left: 3px solid white;
    padding: 1rem;
    justify-content: center;
    margin-left: 3rem;

    .text,
    .image {
      width: 100%;
    }

    .text {
      order: 2;
      border: none;
      padding: 50px 0;
      justify-content: center;

      h2,
      h3 {
        text-align: center;
      }

      p {
        width: 80%;
      }
    }
    .image {
      order: 1;
      img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 450px) {
  .ourTeam_container {
    margin-left: 1rem;
    padding: 1rem;

    .text {
      padding: 1rem;
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      p {
        width: 100%;
      }
    }
    .image {
      img {
        width: 80%;
      }
    }
  }
}
